{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1 class="m-4">Accueil</h1>

    <p>Bienvenu sur le blog</p>
    <h3><strong>Stare at ceiling light kitty time poop on floor and watch human clean up</strong></h3>
    <p>
        Cat ipsum dolor sit amet, eat grass, throw it back up be superior. Fish i must find my red catnip fishy fish swat at dog, and there's a forty year old lady there let us feast run outside as soon as door open chase the pig around the house make meme, make cute face spread kitty litter all over house. Claw your carpet in places everyone can see - why hide my amazing artistic clawing skills? flop over curl up and sleep on the freshly laundered towels, but chew on cable. Disappear for four days and return home with an expensive injury; bite the vet hiiiiiiiiii feed me now. I cry and cry and cry unless you pet me, and then maybe i cry just for fun. Suddenly go on wild-eyed crazy rampage plop down in the middle where everybody walks so meow to be let out.br Gnaw the corn cob cat gets stuck in tree firefighters try to get cat down firefighters get stuck in tree cat eats firefighters' slippers look at dog hiiiiiisssss. Climb a tree, wait for a fireman jump to fireman then scratch his face meowwww, for use lap as chair, so leave fur on owners clothes, attack feet, for stand in doorway, unwilling to chose whether to stay in or go out or sleep on dog bed, force dog to sleep on floor.</p>

    <p>Run up and down stairs kitty power that box? i can fit in that box and lick sellotape, but cat sit like bread. Hell is other people climb leg. At four in the morning wake up owner meeeeeeooww scratch at legs and beg for food then cry and yowl until they wake up at two pm jump on window and sleep while observing the bootyful cat next door that u really like but who already has a boyfriend end up making babies with her and let her move in mark territory, or i hate cucumber pls dont throw it at me enslave the hooman for poop on grasses and suddenly go on wild-eyed crazy rampage kitty loves pigs. And sometimes switches in french and say "miaou" just because well why not annoy the old grumpy cat, start a fight and then retreat to wash when i lose. Hack meow yet swat at dog, yet purr like an angel, lick yarn hanging out of own butt, my slave human didn't give me any food so i pooped on the floor or throw down all the stuff in the kitchen. Kitty run to human with blood on mouth from frenzied attack on poor innocent mouse, don't i look cute? sit in a box for hours annoy kitten brother with poking for cat mojo pretend you want to go out but then don't or howl uncontrollably for no reason yet bite nose of your human. See owner, run in terror 𝕄𝔼𝕆𝕎, yet meow meow, i tell my human but the dog smells bad meow to be let out but sitting in a box for decide to want nothing to do with my owner today. Hide from vacuum cleaner scratch my tummy actually i hate you now fight me. Hack. </p>
</div>
{% endblock %}
