<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Blog-Symfony{% endblock %}</title>
    {% block stylesheets %}
        {# asset > rajoute le chemin relatif depuis la racine web
        > crée le lien accessible depuis n'importe quel page du projet #}
        <link rel="stylesheet" href="{{ asset('lib/bootstrap/bootstrap.min.css') }}">
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark badge-info">
    <div class="container navbar-nav">
        <a href="{{ path('app_index_index') }}" class="navbar-brand">
            Blog
        </a>
    </div>
</nav>
<main class="container">

        {% block body %}{% endblock %}

</main>

{% block javascripts %}
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="{{ asset('lib/bootstrap/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>